/* Home page layout styles */

.home-container {
  display: flex;
  min-height: 100vh;
}

.filters {
  width: 310px;
  background: #e2e2e2;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.job-list {
  flex-grow: 1;
  overflow-y: auto;
}
